<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/api/user/register}" th:object="${request}" method="post">
    <input type="text" th:field="*{userId}" placeholder="아이디 입력" id="userId" required>
    <br>
    <input type="password" th:field="*{password}" placeholder="비밀번호 입력" id="password" required>
    <br>
    <input type="password" th:field="*{repeatPassword}" placeholder="비밀번호 확인 입력" id="repeatPassword" required>
    <br>
    <input type="text" th:field="*{name}" placeholder="이름입력" id="userName" required>
    <br>
    <input type="email" th:field="*{email}" placeholder="이메일 입력" id="email" required>
    <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>